@font-face {
	font-family: 'GP';
	font-display: auto;
	src:url('../fonts/Grand9KPixel.eot');
	src:url('../fonts/Grand9KPixel.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Grand9KPixel.woff2') format('woff2'),
		url('../fonts/Grand9KPixel.woff') format('woff'),
		url('../fonts/Grand9KPixel.ttf') format('truetype');
}